body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: auto;
}


header {
    background: #f7e296;
    height: 186px;
    width: 90%;
    max-width: 1160px;
    margin: 31px auto auto auto;
}

.container {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: -17px;
}

.pag li:hover, .logo:hover, .cat:hover, .user:hover, .compare:hover, .cart:hover, .del:hover, .garant:hover, .conts:hover, .m-1:hover, .m-2:hover, .m-3:hover, .m-4:hover, .m-5:hover, .m-6:hover, .logo-footer:hover, .del-2:hover, .garant-2:hover, .contacts-2:hover, .logo-html:hover {
    opacity: 60%;
}

.logo:active, .cat:active, .user:active, .compare:active, .cart:active, .del:active, .garant:active, .conts:active, .m-1:active, .m-2:active, .m-3:active, .m-4:active, .m-5:active, .m-6:active, .logo-footer:active, .del-2:active, .garant-2:active, .contacts-2:active, .logo-html:hover {
    opacity: 30%;
}

.search {
    padding: 0 14px 0 0;
}

.out {
    padding-left: 20px;
	opacity: 30%;
}

.search {
    padding: 0 14px 0 0;

}

.text-search {
    background: none;
    border: none;
    background-image: url(../img/search_.png);
    background-repeat: no-repeat; 
    background-position: 4px;
    outline: none;  
    padding-left: 40px;  
    height: 46px;  
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.btn-search {
    background: none;
    outline: none;
    border: black solid 2px;
    height: 49px;
    width: 85px;
    margin-left: -5px;
    display: none;
}

.btn-search:hover {
    background-color: black;
    color: #fff;
}

.btn-search:focus {
    background-color: black;
    color: #ffffff4d;
}

.text-search::placeholder {
    opacity: 30%;
}


.text-search:hover::placeholder {
    opacity: 60%;
}

.text-search:focus::placeholder {
    opacity: 100%;
}

.text-search:focus {
    border-bottom: black solid 2px;
}


.navigation {
    display: flex;
    flex-direction: column;
}

.nav-up {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.menu_up img {
    margin-right: 12px;
}

.container_cart {
    display: flex;
}

.compare {
    padding-right: 41px;
}

.nav-down {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

.catalog {

    padding: 0;
}

.container_left {
    display: flex;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.del {
    padding-right: 38px;
}

ul {
    padding: 0;
    margin: 0;
}

.menu_up {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 47px;
    line-height: 56px;
    margin: 0;
}

footer {
    height: 323px;
    background-color: #464646;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fff;
}

.footer-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 65px;
}

.user-f a {
    color: #fff;
    
}

.user {
    opacity: 100%;
}

.user-f a:hover, .compare-f a:hover, .cart-f a:hover {
    opacity: 100%;
}

.compare-f a {
    color: #fff;
    opacity: 70%;
}

.cart-f a {
    color: #fff;
    opacity: 70%;
}


.menu-item {
    display: flex;
    width: 480px;
    justify-content: space-between;
}

.menu-item img {
    margin-right: 12px;
}

.menu-2 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
}

.menu-2 a {
    color: #fff;
}

.menu-2 li {
    display: flex;
    padding: 0 10px;
}

.footer-menu-2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 40px;
}

.footer-menu-2 p {
    margin: 0;
}

.rect-5 {
    width: 80px;
    height: 7px;
    background-color: #ffc600; 
}

.copyright {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 70px;
}

.social img {
    padding: 0 8px;
    opacity: 30%;
}

.social img:hover {
    opacity: 100%;
}

.social img:active {
    opacity: 10%;
}

.mono {
    padding: 44px 0 29px 0;
}

.breadcrumbs {
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: flex;
}

.breadcrumbs a {
    color: black;
	opacity: 30%;
}

.breadcrumbs a:hover {
    opacity: 100%;
}

.breadcrumbs a:active {
    opacity: 10%;
}

.breadcrumbs .active {
	opacity: 30%;
}

.breadcrumbs li {
    padding-bottom: 50px;
    list-style: none;
}

.breadcrumbs li::after {
    content: url(../img/nav-arrow.png); 
    padding: 0 17px;
}

.breadcrumbs li.active::after {
    content: none; 
}

.filter {
    width: 330px;
    display: flex;
    padding-left: 60px
}

h2 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
}

.sort {
    display: flex;
}

.sor {
	font-size: 14px;
    opacity: 30%;
    font-family: 'Open Sans Regular', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.active, .sor:active {
	opacity: 100%;
}

.sor:hover {
	opacity: 60%;
}

.sorting {
    padding-left: 55px;
    display: flex;
	cursor: pointer;
}

.sorting span {
    padding: 0 15px;
}

.rect {
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-4 {
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.rect-4:hover, .rect:hover {
    height: 40px;
}

.add-compare {
    position: absolute;
    bottom: 35%;
    font-size: 13px;
    color: black;
    opacity: 50%;
    z-index: 1;
}

.add-compare:hover {
    opacity: 100%;
}

.add-compare:active {
    opacity: 20%;
}

.button {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
}

.button:active {
    opacity: 30%;
}

.catalog-cont {
    padding: 1px;
}

.content-menu {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.back-con {
    background-color: #00000014;
    height: 70px;
    display: flex;
}

.sort-menu {
    display: flex;
    justify-content: flex-end;
    width: 830px;
}

.sort-filter {
    display: flex;
    align-items: center;
}

.up-down {
    width: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.up-down img {
	margin: auto 10px;
	opacity: 20%;
}

.up-down img:hover {
	opacity: 40%;
}

.up-down img:active {
	opacity: 100%;
}

.filter-menu {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

.catalog-items {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.sub-filter {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.blue {
	padding-top: 30px;
}

.bluetooth {
    padding-top: 40px;
}

.backg {
    background-color: #ebebeb;
	width: 760px;
	height: 70px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 40px;
}

.items span {

}

.item-title, .item-title-1 {
	width: 252px;
}

.item-title-price {
	display: flex;
    padding: 36px 0 8px 0;
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 18px;
	display: flex;
    align-items: baseline;
    justify-content: space-between;
}



.price-1 {
	font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 14px;
	margin: 0;
}

.item-1, .item-2, .item-3, .item-4 {
    padding: 20px 0 20px 40px;
	display: flex;
    flex-direction: column;
}

.btn-back, .btn-go {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 18px;
	display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.items div.backg {
    margin: 20px 0 80px 0;
	display: flex;
    flex-direction: row;
	padding: 0;
	align-items: center;
}

.items span.btn-back, span.btn-go {
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 16px;
	text-transform: uppercase;
    letter-spacing: 4px;
}

.items li {
	cursor: pointer;
	font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 16px;
	text-transform: uppercase;
    letter-spacing: 4px;
	margin: auto 15px;
}

.pag .active {
	opacity: 100%;
}

.page-num:active {
    opacity: 100%;
}

.pag {
    cursor: pointer;
}

.page-num {
	opacity: 30%;
}

.items span.btn-back:hover, span.btn-go:hover {
	background-color: #00000014;
}

.items span.btn-back:active, span.btn-go:active {
	color: #0000004d;
}

.hidcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
}

.btncart {
    z-index: 1;
}

.btn {
    cursor: pointer;
 
    height: 40px;
    align-items: center;
    display: flex;
}

.rect-over {
    height: 380px;
    width: 360px;
    opacity: 70%;
    background-color: #eeeeee;
    position: absolute;

}

.itemttl:hover .hidcart {
    display: flex;
}

.itemttl {
    position: relative;
}

.backg ul, li {
	display: flex;
}


.btn-back, .btn-go {
	width: 126px;
	height: 70px;
	justify-content: space-around;
}



.titles {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 18px;
}

.line {
    background-color: black;
    height: 2px;
    width: 200px;
    margin-bottom: 15px;
}

.navhidden {
    height: 130px;
    padding-top: 40px;
    background-color: #f7e296;
    margin: 0 -60px;
    overflow: hidden;
    display: none;
    z-index: 2;
}

.navhidden a {
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0;
    padding-bottom: 20px;
}



.nav-1 {
    margin-left: 60px;
}

.nav-1, .nav-2, .nav-3 {
    display: flex;
    flex-direction: column;
    width: 200px;

}

.catalogbut {
    cursor: pointer;
    
}

.navhidden.open {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
	padding-top: 30px;
}

.contain {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    align-items: center;
    height: 25px;
}

.contain-up {
    display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-top: -8px;
}

.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.contain-up input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: url(../img/checkbox-off.png) no-repeat;
}

.checkmark-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: url(../img/radio-off.png) no-repeat;

}

.checkmark-up {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: url(../img/icon-down-dir.png) no-repeat;
    opacity: 20%;
}

.contain:hover input ~ .checkmark {
    opacity: 60%;
}

.contain:hover input ~ .checkmark-r {
    opacity: 60%;
}

.contain-up:hover input ~ .checkmark-up {
    opacity: 60%;
}

.contain input:checked ~ .checkmark-r {
    background: url(../img/radio-on.png) no-repeat;
}

.contain input:checked ~ .checkmark {
    background: url(../img/checkbox-on.png) no-repeat;
}

.contain-up input:checked ~ .checkmark-up {
    background: url(../img/icon-up-dir.png) no-repeat;
    opacity: 100%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-up:after {
    content: "";
    position: absolute;
    display: none;
}

.contain input:checked ~ .checkmark:after {
    display: block;
}

.contain-up input:checked ~ .checkmark-up:after {
    display: block;
}

.contain input:disabled ~ .checkmark {
    opacity: 25%;;
}

input:disabled {
    opacity: 25%;;

}

.min-max {
    display: flex;
}

#slider-range span {
	font-family: 'Gilroy Light', sans-serif;
    font-size: 14px;

}

#min, #max {
	font-family: 'Gilroy Light', sans-serif;
	font-size: 14px;
	color: black;
	opacity: 20%;
	padding-top: 15px;

    display: flex;
    position: relative;
}

#max {
    left: 55%;
    margin-left: -50px;
}

.price-filter {
	padding-top: 35px;
}

.price {
	height: 140px;
}










