body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: auto;
}

header {
    background: #f7e296;
    height: 300px;
    width: 90%;
    max-width: 1160px;
    margin: 31px auto auto auto;
}

.container {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: -17px;
}

.logo:hover, .cat:hover, .user:hover, .compare:hover, .cart:hover, .del:hover, .garant:hover, .conts:hover, .m-1:hover, .m-2:hover, .m-3:hover, .m-4:hover, .m-5:hover, .m-6:hover, .logo-footer:hover, .del-2:hover, .garant-2:hover, .contacts-2:hover, .logo-html:hover {
    opacity: 60%;
}

.logo:active, .cat:active, .user:active, .compare:active, .cart:active, .del:active, .garant:active, .conts:active, .m-1:active, .m-2:active, .m-3:active, .m-4:active, .m-5:active, .m-6:active, .logo-footer:active, .del-2:active, .garant-2:active, .contacts-2:active, .logo-html:active, .user-f:active, .compare-f:active, .cart-f:active {
    opacity: 30%;
}

.search {
    padding: 0 14px 0 0;

}

.text-search {
    background: none;
    border: none;
    background-image: url(../img/search_.png);
    background-repeat: no-repeat; 
    background-position: 4px;
    outline: none;  
    padding-left: 40px;  
    height: 46px;  
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.btn-search {
    background: none;
    outline: none;
    border: black solid 2px;
    height: 49px;
    width: 85px;
    margin-left: -5px;
    display: none;
}

.btn-search:hover {
    background-color: black;
    color: #fff;
}

.btn-search:focus {
    background-color: black;
    color: #ffffff4d;
}

.text-search::placeholder {
    opacity: 30%;
}

.text-search:hover::placeholder {
    opacity: 60%;
}

.text-search:focus::placeholder {
    opacity: 100%;
}

.text-search:focus {
    border-bottom: black solid 2px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.nav-up {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.menu_up img {
    margin-right: 12px;
}

.container_cart {
    display: flex;
}

.compare {
    padding-right: 41px;
}

.nav-down {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

.navhidden {
    height: 130px;
    padding-top: 40px;
    background-color: #f7e296;
    margin: 0 -60px;
    overflow: hidden;
    display: none;
    z-index: 2;
}

.navhidden a {
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0;
    padding-bottom: 20px;
}

.nav-1 {
    margin-left: 60px;
}

.nav-1, .nav-2, .nav-3 {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.catalogbut {
    cursor: pointer;
}

.navhidden.open {
    display: flex;
}

.container_left {
    display: flex;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.del {
    padding-right: 38px;
}

ul {
    padding: 0;
    margin: 0;
}

.menu_up {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.rect {
    width: 100px;
    height: 7px;
    background-color: #fff;
    margin-top: 92px;
    margin-left: 540px;
}

.mySlides {
    display: none;
}

.h-pos {
    position: relative;
    z-index: 1;
}

.sli-img-3 {
    display: flex;
    margin: -47px 0 0 -29px;
}

.sli-text-3 {
    width: 500px;
    margin-top: -32px;
    position: relative;
    height: 479px;
}

.slider1 {
    display: flex;
    justify-content: space-between;
}

.sli__img {
    display: flex;
    margin-top: -107px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 47px;
    line-height: 56px;
    margin: 0;
}

.sli__text {
    width: 500px;
    padding-left: 40px;
    margin-top: -32px;
    position: relative;
    height: 479px;
}

.descr {
    line-height: 30px;
    margin: 22px 0 45px 0;
    
}

.button, .button-d {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    cursor: pointer;
}

.rect-1 {
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.pag {
    display: flex;
}

.pag ul {
    display: flex;
}

.pag li {
    margin-right: 21px;
    display: flex;
}

.dot {
    cursor: pointer;
}

.current {
    background-color: black;
    width: 260px;
    height: 40px;
    color: #f7e184;
    display: flex;
    align-items: center;
    padding-left: 17px;
    margin-left: 120px;
    cursor: pointer;
}

.hover, .dot:active {
    cursor: pointer;
    background: url(../img/slider-button.png) no-repeat center;
}

.back-delivery {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.rect-2:hover {
    height: 40px;
}

.num {
    font-size: 179px;
    color: #fff;
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    position: absolute;
    bottom: 77%;
    left: 68%;
}

.num-2 {
    font-size: 179px;
    color: #fff;
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    position: absolute;
    bottom: 77%;
    left: 63%;
}

.num-3 {
    font-size: 179px;
    color: #fff;
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    position: absolute;
    bottom: 77%;
    left: 60%;
}

.ch {
    font-family: 'Gilroy Light', 'Open Sans Light', sans-serif;
    font-size: 36px;
    margin: 0;
}

.charact ul {
    display: flex;
}

.charact li {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.charact {
    position: absolute;
    width: 510px;
    margin: 40px 0 0 0;
}

.ch__de {
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-top: 20px;
}

.popular {
    height: 322px;
    width: 90%;
    max-width: 1160px;
    margin: auto;
    padding-bottom: 100px;
}

.col-1, .col-3, .col-4, .col-5, .col-6 {
    height: 160px;
    width: 160px;
    background: #f7e296;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    height: 160px;
    width: 160px;
    background: #f7e296;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.col-1:hover, .col-2:hover, .col-3:hover, .col-4:hover, .col-5:hover, .col-6:hover {
    background: #f0c52e;
}

.pop-1:active .col-text-1 {
    opacity: 30%;
}

.pop-2:active .col-text-2 {
    opacity: 30%;
}

.pop-3:active .col-text-3 {
    opacity: 30%;
}

.pop-4:active .col-text-4 {
    opacity: 30%;
}

.pop-5:active .col-text-5 {
    opacity: 30%;
}

.pop-6:active .col-text-6 {
    opacity: 30%;
}

.pop-1:active img {
    opacity: 30%;
}

.pop-2:active img {
    opacity: 30%;
}

.pop-3:active img {
    opacity: 30%;
}

.pop-4:active img {
    opacity: 30%;
}

.pop-5:active img {
    opacity: 30%;
}

.pop-6:active img {
    opacity: 30%;
}

.pop-1, .pop-2, .pop-3, .pop-4, .pop-5, .pop-6 {
    cursor: pointer;
    height: 240px;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.col-text-1, .col-text-2, .col-text-3, .col-text-4, .col-text-5, .col-text-6, h2 {
    width: 160px;
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 18px;
    padding-top: 39px;
}

h2 {
    margin: 0;
    padding: 0;
}

.col-tex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.deli {
    display: flex;
    position: relative;
    justify-content: start;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
}

.ico-1, .ico-2, .ico-3, .ico-4 {
    padding: 20px;
    height: 247px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico-1 a:hover img {
    opacity: 0;
}
 
.ico-2 a:hover img {
    opacity: 0;
}
  
.ico-3 a:hover img {
    opacity: 0;
}

.ico-4 a:hover img {
    opacity: 0;
}

.ico-1 a:hover {
    background: url(../img/logo-1h.jpg) no-repeat;
}

.ico-2 a:hover {
    background: url(../img/logo-2h.jpg) no-repeat;
}

.ico-3 a:hover {
    background: url(../img/logo-3h.jpg) no-repeat;
}

.ico-4 a:hover {
    background: url(../img/logo-4h.jpg) no-repeat;
}

.del-menu {
    padding-right: 117px;
    margin-top: -4px;
    display: flex;
}

.del-rect {
    width: 7px;
    height: 319px;
    background-color: black;
    margin: -100px 0 0 118px;
}

.delivery {
    height: 288px;
    background: #e5e5e5;
}

.rect-2 {
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 81px;
    cursor: pointer;
}


h3 {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 47px;
    margin: 0;
}

.del-descr {
    margin-top: -32px;
}

.del-img {
    margin-top: -15px;
    padding-left: 80px;
}

.del-img-2 {
    margin-top: -38px;
    padding-left: 80px;
}

.del-img-3 {
    margin-top: -38px;
    padding-left: 80px;
}

.del-text {
    width: 438px;
    line-height: 30px;
}

.partners {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.info {
    height: 700px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.rect-3 {
    width: 80px;
    height: 7px;
    background-color: black;
    margin-bottom: 51px;
}

.info-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    padding: 20px;
}

.contacts {
    padding: 20px;
}

.btn {
    cursor: pointer;
    width: 260px;
    height: 40px;
    align-items: center;
    display: flex;
}

#write-us {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
}

#map-modal {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    align-items: center;
    justify-content: center;
}

.map-cnt {
    position: relative;
}

.closes {
    position: absolute;
    padding: 22px;
    display: flex;
    justify-content: flex-end;
    top: 2%;
    right: 2%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08), 0px 5px 20px 0px rgba(0, 0, 0, 0.14);
}

.form-back {
    height: 553px;
    width: 960px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.close {
    padding: 22px;
    display: flex;
    justify-content: flex-end;
}

.imgclose, .imgcloses {
    margin: 0;
    padding: 0;
    opacity: 60%;
    cursor: pointer;
}

.title {
    display: flex;
    width: 760px;
    margin: 0 auto; 
    justify-content: space-between;
}

.form-text {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

input.name:hover {
    background-color: #eaeaea;
}

input.name:focus {
    background-color: #fff;
    border: #f7e296 solid 3px;
    outline: none;
    box-sizing: border-box;
}

input.name:invalid {
    background-color: #f6dada;
    border: none;
}

textarea:hover {
    background-color: #eaeaea;
}

textarea:focus {
    background-color: #fff;
    border: #f7e296 solid 3px;
    outline: none;
    box-sizing: border-box;
}

input.name {
    width: 360px;
    height: 60px;
    border: none;
    background-color: #f2f2f2;
    margin-top: 10px;
    font-family: 'Open Sans Regular', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-indent: 20px;
}

.name::placeholder {
    color: #46464666;
}

.imgclose:active {
    opacity: 30%;
}

.imgclose:hover {
    opacity: 100%;
}

.imgcloses:active {
    opacity: 30%;
}

.imgcloses:hover {
    opacity: 100%;
}

.form-mess {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 760px;
    margin: 0 auto;
    padding-top: 40px;
}

.mess {
    height: 136px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 20px;
    margin-top: 10px;
    font-family: 'Open Sans Regular', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.form-mess textarea {
    resize: none;

}

.form-mess textarea::placeholder {
    color: #46464666;
}

.form-button {
	width: 200px;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 50px 0 0 100px;
}

.rect-6 {
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-1:hover, .rect-4:hover, .rect-6:hover {
    height: 40px;
}

.button:active {
    opacity: 30%;
}

.about-text1 {
    width: 460px;
    padding: 60px 0 35px 0;
    margin: 0;
    line-height: 30px;
}

.about-text1 p {
    margin: 0;
}

.about-text2 {
    width: 460px;
    padding-bottom: 67px;
    margin: 0;
    letter-spacing: -0.2px;
    line-height: 30px;
}

.about-text3 {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    font-size: 16px;
}

.about-text3 li {
    padding-bottom: 26px;
    list-style: none;
}

.about-text3 li::before {
    content: url(../img/marker.png); 
    padding-right: 26px;
}

.rect-4 {
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.map-text {
        width: 560px;
        padding: 60px 0 45px 0;
        margin: 0;
        line-height: 30px;
}

.map {
    padding-bottom: 26px;
    cursor: pointer;
}

footer {
    height: 323px;
    background-color: #464646;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fff;
}

.footer-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 65px;
}

.user-f a {
    color: #fff;
    opacity: 70%;
}

.user-f a:hover, .compare-f a:hover, .cart-f a:hover {
    opacity: 100%;
}

.compare-f a {
    color: #fff;
    opacity: 70%;
}

.cart-f a {
    color: #fff;
    opacity: 70%;
}


.menu-item {
    display: flex;
    width: 325px;
    justify-content: space-between;
}

.menu-item img {
    margin-right: 12px;
}

.menu-2 {
    font-family: 'Gilroy ExtraBold', 'Open Sans ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
}

.menu-2 a {
    color: #fff;
}

.menu-2 li {
    display: flex;
    padding: 0 10px;
}

.footer-menu-2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 40px;
}

.footer-menu-2 p {
    margin: 0;
}

.rect-5 {
    width: 80px;
    height: 7px;
    background-color: #ffc600; 
}

.copyright {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1160px;
    padding-top: 70px;
}

.social img {
    padding: 0 8px;
    opacity: 30%;
}

.social img:hover {
    opacity: 100%;
}

.social img:active {
    opacity: 10%;
}