body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: auto;
}


header {
    background: #f0c52e80;
    height: 300px;
    width: 1160px;
    margin: 31px auto auto auto;
}

.container {
    width: 1040px  ;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: -21px;
}

.search {
    padding: 0 14px 0 0;
    color: #0000004d;

}

.navigation {
    display: flex;
    flex-direction: column;
}

.nav-up {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;

}

.menu_up img {
    margin-right: 12px;
}

.container_cart {
    display: flex;
}

.compare {
    padding-right: 41px;
}

.nav-down {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 51px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

.catalog {

    padding: 0;
}

.container_left {
    display: flex;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.del {
    padding-right: 38px;
}

ul {
    padding: 0;
    margin: 0;
}

.menu_up {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.rect {
    width: 100px;
    height: 7px;
    background-color: #fff;
    margin-top: 92px;
    margin-left: 540px;
}

.slider {
    height: 479px;
}

.slider1 {
    display: flex;
    justify-content: space-between;
}

.sli__img {
    display: flex;
    margin-top: -107px;
    margin-left: auto;
    margin-right: auto;
}

/*.sli__img img {
    width: 100%;
}*/

h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 47px;
    line-height: 56px;
    margin: 0;
}

.sli__text {
    width: 500px;
    padding-left: 40px;
    margin-top: -32px;
    position: relative;
}

.descr {
    line-height: 30px;
    margin: 22px 0 45px 0;
    
}

.button {
    font-family: 'Gilroy ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
}

.rect-1 {
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pag {
    display: flex;
}

.pag ul {
    display: flex;
}

.pag li {
    margin-right: 21px;
    display: flex;
    
}

.num {
    font-size: 179px;
    color: #fff;
    font-family: 'Gilroy ExtraBold', sans-serif;
    position: absolute;
    bottom: 75%;
    left: 68%;
}

.ch {
    font-family: 'Gilroy Light', sans-serif;
    font-size: 36px;
    margin: 0;
}

.charact ul {
    display: flex;
}

.charact li {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.charact {
    position: absolute;
    width: 510px;
    margin: 80px 0 0 0;
}

.ch__de {
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-top: 20px;
}

.popular {
    height: 322px;
    width: 1160px;
    margin: auto;
    padding-bottom: 100px;
}

.col-1, .col-3, .col-4, .col-5, .col-6 {
    height: 160px;
    width: 160px;
    background: #f7e296;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    height: 160px;
    width: 160px;
    background: #f7e296;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.col-text {
    width: 160px;
    height: 160px;
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 18px;
    padding-top: 39px;
}

.col-tex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.deli {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
}

.ico-1, .ico-2, .ico-3, .ico-4 {
    padding: 20px;
    height: 247px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.ico-1, .ico-2, .ico-3 {
    padding-right: 20px;
}

.ico-2, .ico-3, .ico-4 {
    padding-left: 20px;
}*/

.del-menu {
    padding-right: 117px;
    margin-top: -4px;
}

.del-rect {
    width: 7px;
    height: 319px;
    background-color: black;
    margin: -100px 0 0 0;

}

.delivery {
    height: 288px;
    background: #e5e5e5;
}

.rect-2 {
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
}

h3 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 47px;
    margin: 0;
}

.del-descr {

    padding: 0 116px 0 116px;
    margin-top: -32px;
}

.del-img {
    margin-top: -15px;
    padding: 0 66px 0 0;
}

.del-text {
    width: 438px;
    line-height: 30px;
}

.partners {
    width: 1200px;
    margin: auto;
}

.info {
    height: 655px;
    width: 1200px;
    margin: auto;
}

.rect-3 {
    width: 80px;
    height: 7px;
    background-color: black;
    margin-bottom: 51px;
}

.info-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    padding: 20px;
}

.contacts {
    padding: 20px;
}

.about-text1 {
    width: 460px;
    padding: 60px 0 45px 0;
    margin: 0;
    line-height: 30px;
}

.about-text2 {
    width: 460px;
    padding-bottom: 85px;
    margin: 0;
    letter-spacing: -0.2px;
    line-height: 30px;
}

.about-text3 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 16px;
}

.about-text3 ul {
    list-style-image: url(../img/marker.png); 
    margin-right: 26px;
}

.about-text3 li {
    padding-bottom: 26px;
    padding-left: 26px;
}