body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


header {
    background: #f0c52e80;
    height: 300px;
    width: 1160px;
    margin: 31px auto auto auto;
}

.container {
    width: 1040px  ;
    margin: 0 auto;
}

.logo {
    margin-top: -21px;
}

.search_text {
    
    color: #0000004d;
}

.search {
    float: left;
    padding: 0;
}

.up {
    margin-top: 36px;
}

.menu_up img {
    margin-right: 12px;
}

.container_cart {
    float: right;
}

.container_cart li {
    float: left;
    display: block;
    margin-left: 41px;
}

nav {
    font-family: Gilroy ExtraBold;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 51px;
    font-size: 18px;
}

.button {
    font-family: Gilroy ExtraBold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    width: fit-content;
    float: left;    
}

a {
    color: black;
    text-decoration: none;
}

span {
    margin-left: 20px;
    padding: 0%;

}

.catalog {
    float: left;
    padding: 0;
}

.container_right {
    float: right;
}

.container_right li {
    float: right;
    display: block;
}

.container_left {
    float: left;
}

.container_left li {
    float: left;
    display: block;
    margin-right: 38px;
}

.menu {
    width: 500px;
    float: right;
}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

ul {
    padding: 0;
    margin: 0;
}

.menu_up {
    width: 500px;
    float: right;
}

.rect {
    width: 100px;
    height: 7px;
    background-color: #fff;
    margin-top: 92px;
    margin-left: 540px
    ;
}

h1 {
    font-family: Gilroy ExtraBold;
    font-size: 47px;
    line-height: 56px;
    margin: 0;
}

.sli__text {
    width: 500px;
    float: right;
    margin-top: -32px;
    position: relative;
}

.descr {
    line-height: 30px;
    margin: 30px 0 60px 0;
    
}

.rect__1 {
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    margin-top: -16px;
}

.pag {
    float: right;
}

.pag li {
    margin-right: 21px;
    display: block;
    float: left;
}

.num {
    font-size: 179px;
    color: black;
    font-family: Gilroy ExtraBold;
    position: absolute;

}